@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    list-style: none;
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
}
section {
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero_section {
  background-image: url(../assets/desola-lanre-ologun-kwzWjTnDPLk-unsplash.jpg);
  height: 100vh;
  background-size: cover;
  width: 100vw;
}

/* KENBURNS EFFECT */
.kenburns-top {
  animation: kenburns-top 5s ease-out both;
}

@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}
body {
  font-family: 'Comfortaa', 'sans-serif';
  font-weight: 400;
  font-style: normal;
}
.top_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(76, 0, 255);
  padding: 15px 60px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 600;
  width: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 0vh; */
  width: 85vw;
  padding: 20px 40px;
  margin: auto;
}
.nav_links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.nav_links ul li a {
  font-size: 20px;
  font-weight: bold;
  color: rgb(37, 3, 117);
}
.nav_links ul li a:hover {
  color: rgb(76, 0, 255);
}
.nav_links-left {
  display: flex;
  gap: 20px;
}
.left_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left_container p {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  padding-right: 30px;
}
.logo a {
  font-size: 30px;
  color: rgb(37, 3, 117);
  font-weight: bold;
}
.logo span {
  color: rgb(76, 0, 255);
  font-size: 28px;
  font-weight: bold;
}
.right_container .socials i {
  padding-right: 20px;
}
.right_container .socials i:hover {
  color: rgba(18, 4, 53, 0.658);
}
.btn a {
  background-color: rgb(76, 0, 255);
  padding: 10px 20px;
  border-radius: 30px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.btn a:hover {
  background-color: rgb(37, 3, 117);
  color: #fff;
}

.cell {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
}
.hero_section {
  position: relative;
}
.hero_overlay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #0b015d;
  background: -webkit-linear-gradient(90deg, #0b015d 0%, #5d0494 100%);
  background: linear-gradient(90deg, #0b015d 0%, #5d0494 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 200px;
}
.overlay_left {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* width: 650px; */
  /* padding-left: 100px; */
}
.overlay_left p:nth-child(1) {
  font-weight: bolder;
  font-size: 58px;
  padding-bottom: 10px;
}
.enrolBtn a {
  background-color: #f0eaf5;
  padding: 15px 50px;
  border-radius: 30px;
  color: rgb(37, 3, 117);
  font-weight: 700;
  font-size: 18px;
}
.enrolBtn {
  margin-top: 50px;
}
/* ABOUT SECTION */

.about_section {
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-evenly;
  /* gap: 30px; */
  /* margin: auto; */
  padding: 80px 0;
}
.about_left {
  width: 500px;
  height: 600px;
  position: relative;
  border-top-right-radius: 180px;
}
.about_left img {
  width: 100%;
  height: inherit;
  background-size: cover;
  border-top-left-radius: 180px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.overlayText {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -8%;
  right: -8%;
  width: 200px;
  height: 200px;
  background-color: #5d0494;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  border-top-left-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.overlayText h2 {
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 30px;
}
.about_right {
  max-width: 550px;
}
.about_right h2 {
  color: #0b015d;
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 40px;
  letter-spacing: 2px;
}
.about_right h4 {
  color: #0b015d;
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 30px;
  letter-spacing: 2px;
  line-height: 1.5;
}
.about_right p {
  color: #0b015d;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 30px;
  letter-spacing: 1px;
  line-height: 1.8;
}
